@charset "UTF-8";

body{
    background-color : #D2DAFF;
    text-align : center;
}
main{
    margin : 0 auto;
    width : 500px;
    height : 500px;
    background-color : #B1B2FF;
    padding : 10px;
    border-radius : 10px;
    box-shadow : 0 0 10px #000000;
}
form div{
    display : inline-block;
    margin-top : 4px;
    width : 400px;
    height : 400px;
    background-color : #D2DAFF;
    border : 1px solid #000000;
    text-align : center;
	width : 50%;
	border-radius: 10px;
	padding: 10px;
	color: #293875;
	margin-bottom: 4px;
	height: 70%;
}
footer{
    background-color : #D2DAFF;
    height : 100px;
    width : 100%;
    position : absolute;
    bottom : 0;
    }