<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <script src="index.js" defer></script>
    <script src="/Users/jerry/Downloads/jquery-3.6.1.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/index.css"?ver=1>
</head>
<body>
  <header>
  </header>
  <main>
    <form>
        <div>
            <a href="http://localhost:8877/login">로그인</a>
        </div>
    </form>
  </main>
  <footer>
      <div>진혜, 진우</div>
  </footer>
</body>
</html>