<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <script src="index.js" defer></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
  <header>
  </header>
  <main>
    <form>
        <div>
            <button value="login" onclick="window.open('Login.html', 'window_name', 'width=430, height=500, location=no, status=no, scrollbars=yes');">log in</button>
        </div>
    </form>
  </main>
  <footer>
      <div>진혜, 진우</div>
  </footer>
</body>
</html>